/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

h1{
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
    
